h1 🛫
h1 Your booking is confirmed!

p
  | Hi #{@user.name},
  br you have successfully booked the flight
  br: b #{@flight.name}
  br for the passenger#{@passengers.size > 1 ? 's' : nil}

- @passengers.each do |passenger|
  p: b = passenger.fullname

p
  ' Remember to check-in before
  b #{@flight.departure - 2.hour}

small thank you
