h1 🛫
h1 Your boarding pass

p
  | Hi #{@passenger.user.name},
  br this is the boarding pass for
  br: b = @passenger.fullname
  br for the flight
  br: b #{@passenger.flight_execution.name}

small thank you
