h1 🛫
h1 Remind to check-in!

p
  | Hi #{@passenger.user.name},
  br it's time to check-in
  br: b = @passenger.fullname
  br for the flight
  br: b #{@passenger.flight_execution.name}

small thank you
