// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.

@import "active_admin/mixins";
@import "arctic_admin/base";

$primary-color: #1890ff;

@import "arctic_admin/main";

tbody tr td,
.footer {
  font-size: 14px;
}
